#btnsAulas {
  margin: 20px
}

#emailAluno {
  color: #ccc;
}

div.box-email {
  margin-bottom: 20px;
}

table {
  min-width: 500px;
  border-collapse: collapse;
}

table td, table th {
  padding: 10px
}

table th {
    background-color: #ddd;
}

table tbody tr:hover {
  background-color: #000;
  color: #fff;
}

table td input {
  width: calc(100% - 20px);
  text-align: center;
}

table td input, table td input:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}
